<html>
<head>
	<title>University Navigation</title>
</head>
<body>
	<link rel="stylesheet" type="text/css" href="/application.css">
<div class="jumbotron">
        <h1>University</h1>
        <p>Please select a path</p>
        <p><a href="professors/index" class="btn btn-primary btn-lg" role="button">professors »</a>
        	<a href="courses/index" class="btn btn-primary btn-lg" role="button">courses »</a>
        	<a href="subjects/index" class="btn btn-primary btn-lg" role="button">subjects »</a>
        	<a href="join/index" class="btn btn-primary btn-lg" role="button">join »</a></p>
      </div>
</body>
</html>