<html>
<head>
	<title>Courses</title>
</head>
<body>
	<link rel="stylesheet" type="text/css" href="/application.css">
	<h1>
		Delete "<%= @delete_course.course_name %>"?
	</h1>

	<form action="/courses/<%= @delete_course.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete">

</body>
</html>