<html>
<head>
	<title>Professors</title>
</head>
<body>
	<link rel="stylesheet" type="text/css" href="/application.css">
	<h1>
		Update "<%= @edit_professor.professor_name %>" to...
	</h1>

	<form action="/professors/<%= @edit_professor.id %>" method="post">
	<input type="hidden" name="_method" value="put">
	<input type="text" id="professor_name" name="professor[professor_name]" placeholder="<%= @edit_professor.professor_name %>">
	<input type="submit">

</body>
</html>